.places {
	grid-area: places;
	width: 1000px;
	gap: 10px;
	margin: 0 auto;
}

.places > h1 {
	font-size: 30px;
	margin: 0;
}

.places > article > h2 {
	font-size: 30px;
}

.places > article {
	width: 390px;
	display: inline-block;
	padding: 0px 20px;
	margin: 20px 20px;
	border: 1px solid #ff5a5f;
	border-radius: 4px;
	text-align: center;
	transform: translateX(80px);
}

.places > article:last-child {
	transform: translateX(280px);
}
